:root {
    --marge: 2vw;
    --petite-marge: calc(var(--marge) * 0.5);
    --grande-marge: calc(var(--marge) * 1.5);
    color:#333;
}
a {
    color:#333;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    font-family: sans-serif;
    font-size: 3vw;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.logo {
}
.plats {
    margin-top: var(--marge);
    display: flex;
    flex-direction: column;
    gap: var(--grande-marge);
}

.plats h3 {
    font-weight: 700;
    font-size: 125%;
    color: #ff406d;
}


.accompagnement {
    margin-top: calc(var(--grande-marge) * -1);
}

#desserts {}


.menu {
    background-size: cover;
    background-position: center center;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.menu figure {
    margin: 0;
    width: 40vw;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.colonne-qr {
    flex: 0 0 12vw;
    display: flex;
    flex-direction: column;
    gap: var(--petite-marge);
    font-size: 40%;
    text-align: center;
}

.colonne-qr .texte {}

.qr {
    width: calc(100% - (2 * var(--marge)));
    aspect-ratio: 1;
    border: var(--marge) solid white;
    position: relative;
}

.off {
    font-family:'Arial Black';
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: red;
    text-transform: uppercase;
    text-shadow: 2px 2px white, -2px -2px white;
    transform: translate(-50%, -50%) rotate(-35deg);
  }
  

.qr img {
    display: block;
    width: 100%;
    height: 100%;
}

video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}